<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<http use-expressions="true">

		<!-- -->

		<csrf disabled="true" />
		<intercept-url pattern="/login" access="permitAll()" />
		<intercept-url pattern="/register" access="permitAll()" />
		<intercept-url pattern="/" access="permitAll()" />
		<intercept-url pattern="/admin/user-list"
			access="hasRole('ROLE_10')" />

		<access-denied-handler error-page="/404" />

		<!-- Login Handler -->

		<form-login login-page="/login"
			login-processing-url="/login-processing"
			authentication-success-handler-ref="authSuccessHandler"
			authentication-failure-url="/login-error"
			username-parameter="FieldEmail" password-parameter="FieldPassword" />
		<logout logout-url="/SignOut" logout-success-url="/login"
			delete-cookies="JSESSIONID" invalidate-session="true" />
	</http>

	<!-- Filter login with role -->

	<beans:bean id="authSuccessHandler"
		class="com.vesmax.security.AuthFilterRoleHandler " />

	<!-- Connect Database support login -->

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="Select email ,passwords,roles from Users where email=?"
				authorities-by-username-query="Select email, 'ROLE_'+cast(roles as varchar), roles from Users where email=?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans> 